.default {
    cursor: pointer;
    font-size: 18px;
    background: local;
    color: #fff;
}
.success {
    cursor: pointer;
    font-size: 18px;
    background: local;
    color: rgb(106, 69, 193);
}
.danger {
    cursor: pointer;
    font-size: 18px;
    background: local;
    color: red;
}